# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Ansible
*.retry
*.vault
ansible.cfg

# Secrets
*.pem
*.key
*.crt
*.env

# Editor / IDE
.idea/
.vscode/

# Python fallback (in case you do scripts)
__pycache__/
*.pyc

# General
*.log

